<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Heart Rate Calculator</title>
    </h:head>
    <h:body>
        <h:form>
            <h1>Target Heart Rate Calculator</h1>
            <p>
                <label>
                    Your age:
                    <h:inputText id="age" value="#{heartRateController.age}" validatorMessage="Age must be a whole number between 0 and 160" converterMessage="Age must be a whole number between 0 and 160"/>
                    <h:message for="age"/>
                </label>
            </p>
            <p>
                <h:commandButton value="Next" action="intensity"/>
            </p>
        </h:form>
    </h:body>
</html>

