<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Heart Rate Calculator</title>
    </h:head>
    <h:body>
        <h:form>
            <h1>Target Heart Rate Calculator</h1>
            <p>
                Your age: #{heartRateController.age}
            </p>
            <p>
                <label>
                    Target intensity:
                    <h:inputText id="intensity" value="#{heartRateController.intensity}" converterMessage="Intensity must be a whole number between 0 and 100"/>%
                    <h:message for="intensity"/>
                </label>
            </p>
            <p>
                <h:commandButton value="Update Calculation"/>
            </p>
            <p>
                Target Heart Rate: #{heartRateController.heartRate}
            </p>
            <p>
                Disclaimer: This calculation is for entertainment purposes only and should not be a substitute for professional medical advice.
            </p>
        </h:form>
    </h:body>
</html>
